#include <iostream>
#include <vector>
#include <string>
class Student {
    public:
        std::string name;
        int age;
        std: :string id;

        Student(std::string n, int a, std::string i) : name(n),
        age(a),
        id(i) {}
};

class StudentManagementSystem {
    private:
        std::vector<Student> students;

    public: void addStudent(std::string name, int age, std::string id) {
        students.emplace_back(name, age, id);
    }

    void displayStudents() {
        for (const auto& student : students) {
            std: :cout << "Name: " << student.name << ", Age: " << student.age << ", ID: " << student.id << std::endl;
        }
    }

    void findStudentById(std::string id) {
        for (const auto& student : students) {
            if (student.id==id) {
                std: :cout << "Found Student - Name: " << student.name << ", Age: " << student.age << ", ID: " << student.id << std::endl;
                return;
            }
        }

        std::cout << "Student with ID " << id << " not found." << std::endl;
    }
};